
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.aligned-info {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: column wrap;
}

.card {
    width: 90px;
    height: 140px;
    margin:10px;
    padding: 0;
    border: 2px solid lightgrey;
}
